:root{
    --primary : #9C27B0;
    --primaryOscure: #89119D;
    --secundary: #FFCE00;
    --secundaryOscure: #d4b949;;
    --white: #FFF;
    --black: #000;
    --principalFont: 'Staatliches', cursive;

}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/*Globals*/
body{
    background-color: var(--primary);
    font: 1.6rem;
    line-height: 1.5;
}
p{
    font: 1.8rem;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}
  
a{
    text-decoration: none;
    color: var(--white);
}

img{
    max-width: 100%;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3{
    text-align: center;
    color: var(--secundary);
    font: var(--principalFont);
}
h1{
    font-size: 3.8rem;
    font-weight: 700;
    text-transform: uppercase;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/* Header*/
.header{
    display: flex;
    justify-content: center;
    
}
.header__logo{
    margin: 3rem 0rem;

}

/*Nav*/
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryOscure);
    padding: 1rem;
    gap :2rem;
}
.nav__link{

    font-size: 2.6rem;
    font-family: var(--principalFont);
}
.nav__link--active,
.nav__link:hover{
    color: var(--secundary);
}
/*Title*/
.container__title{
    font-family: var(--principalFont);
}

/*footer*/
.footer{
    display: flex;
    justify-content: center;
    background-color: var(--primaryOscure);
    padding: 1rem 0;
    margin-top: 2rem;
    font-family: var(--principalFont);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
   
}

/*Products*/
/*Grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}
@media (min-width : 768px){
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.product{
    background-color: var(--primaryOscure);
    padding: 1rem ;
}

.product__image{
    width: 100%;
}

.product__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product__name{
    font-size: 3rem;
    margin-bottom: 0rem;
}
.product__price{
    font-size: 2.8rem;
    margin: auto;
    color: var(--secundary)
}
.product__name,
.product__price{
    font-family: var(--principalFont)
}

.graphic{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30rem;
    
}
.graphic--shirt{
    grid-column: 1/3;
    grid-row: 2/3;
    background-image: url(../img/grafico1.jpg);
    
}
.graphic--node{
    grid-column: 1/3;
    grid-row: 5/6;
    
    background-image: url(../img/grafico2.jpg);
}


@media (min-width : 768px){
    .graphic--shirt{
        grid-column: 1/3;
        grid-row: 2;
        
        
    }
    .graphic--node{
        grid-column: 2/4;
        grid-row: 5;
        
    }
    
}

.us__content p{
    font-size: 1.4rem;
    margin: 1rem;
}
.us__image img{
    width: 100%;
    

}
@media (min-width : 768px){
    .us{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.8rem;
    }
    .us__content{
        padding: 1rem;
        grid-row: 1/3;
        grid-column: 1;
    }
    .us__content p{
        font-size: 1.8rem;
    }
    .us__image{
        grid-row: 1/3;
        grid-column: 2;
       
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.marketing h2{
   font-family: var(--principalFont);
}
.marketing__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.marketing__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.marketing__box p,
.marketing__box h3{
    font-family: var(--principalFont);
}

.marketing__box p{
    font-size: 1.6rem;
    text-align: center;
}


@media (min-width : 768px){
    .marketing__content{
        
        grid-template-columns: repeat(4,1fr);
    }
}
    
/*Product Page*/



.shirt__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shirt__content p{
    text-align: center;
    padding: .2rem;
    font-size: 1.5rem;
}


@media (min-width : 768px){
    .shirt{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .shirt__img img{
        margin:auto;
    }
}

.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.form__camp{
    /*
    border-color:var(--primaryOscure) ;
    border-width: 1rem;
    border-style: solid;
    
    */

    border: 1rem solid var(--primaryOscure);
    background-color: var(--primary);
    color: var(--white);
    font-family: var(--principalFont);
    font-size: 2rem;
    padding: 1rem;
    appearance: none;
    

}
.form__submit{
    background-color: var(--secundary);
    border: none;
    font-size: 2rem;
    padding: .7rem;
    font-family: var(--principalFont);
    border-radius: 5px;
    transition: background-color .3s ease;
    grid-column: 1/3;

}
.form__submit:hover{
    cursor: pointer;
    background-color: var(--secundaryOscure);
}




